<h1> <%= @cohort.name %> </h1>
<h3>Memberships</h3>
<ul>
	<%@memberships.each_with_index do |m, i| %>
		<li> <%= @users[i].name %> <%= m.role %> </li>
	<% end %>
</ul>


<h3>Add a user to this cohort </h3>
<!-- AKA Creating a new membership -->
<% @all_users.each do |u| %>
	<%if !@cohort.users.include?(u)%>
		<h4><%= u.name%></h4>
		<%= form_tag(cohort_memberships_path, method: 'POST') do %>
		<label>Enter a role for the user</label>
		<input type="text" name='membership[role]' value='<%=@membership%>'> </input>
		<input type="hidden" name='membership[cohort_id]' value='<%=@cohort.id%>'> </input>
		<input type="submit" value="submit">
	<% end %>

<%end%>
<% end %> 

