<h1> <%= @cohort.name %> </h1>
<h3>Memberships</h3>
<ul>
	<%@memberships.each_with_index do |m, i| %>
		<li> <%= @users[i].name %> <%= m.role %> </li>
		<!-- AKA Deleting a  membership -->
		<%= form_tag(user_membership_path(@users[i].id , m.id), method: 'DELETE') do %>
			<input type="submit" value="Remove from cohort">
		<% end %>
		<br>
	<% end %>
</ul>


<h3>Add users to this cohort </h3>
<% @all_users.each do |u| %>
	<%if !@cohort.users.include?(u)%>
		<!-- AKA Creating a new membership -->
		<h4><%= u.name%></h4>
		<%= form_tag(user_memberships_path(u.id), method: 'POST') do %>
			<label>Select a role</label>
			<select name="membership[role]"> 
				<option value="Teacher">Teacher</option>
				<option value="Student">Student</option>
			</select>
			<input type="hidden" name='membership[user_id]' value='<%=u.id%>'> </input>
			<input type="hidden" name='membership[cohort_id]' value='<%=@cohort.id%>'> </input>
			<input type="submit" value="submit">
		<% end %>
	<% end %>

<% end %>


