<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <br>
<% end %>



<%@users.each do |u| %>
<ul> 
	<li><%=link_to u.name, user_path(u.id)%></li>
</ul>
<% end %>

<%= form_tag('/users', method: 'POST') do %>
	<label>Enter a name to create a new user</label>
	<input type="text" name='user[name]' value='<%=@user.name%>'> </input>
	<input type="submit" value="submit">
<%end%>